MetaDataServ.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by any (Ru-Board) -->
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://you.domain/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsdl="http://you.domain/wsdl/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="getEprintsService" targetNamespace="http://you.domain/wsdl/">
	<types>
		<schema targetNamespace="http://you.domain/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="creators">
				<sequence>
					<element name="name" type="xsd:string"/>
					<element name="id" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="ArrayofID">
				<sequence>
					<element name="name" type="xsd:string"/>
					<element name="id" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="ArrayOfString">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="string[]"/>
					</restriction>
				</complexContent>
			</complexType>
		</schema>
	</types>
	<message name="getEprintsRequest">
		<part name="id" type="xsd:integer"/>
	</message>
	<message name="getEprintsResponse">
		<part name="creators" type="xsd:string"/>
		<part name="title" type="xsd:string"/>
		<part name="subjects" type="tns:ArrayOfString"/>
		<part name="type" type="xsd:string"/>
		<part name="abstract" type="xsd:string"/>
		<part name="relation" type="xsd:string"/>
		<part name="keywords" type="xsd:string"/>
		<part name="datecontr" type="xsd:string"/>
	</message>
	<portType name="Eprints_PortType">
		<operation name="getEprint">
			<input message="tns:getEprintsRequest"/>
			<output message="tns:getEprintsResponse"/>
		</operation>
	</portType>
	<binding name="Eprints_Binding" type="tns:Eprints_PortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getEprint">
			<soap:operation soapAction="urn:MetaDataServ#getEprint"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:MetaDataServ"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:MetaDataServ"/>
			</output>
		</operation>
	</binding>
	<service name="Eprints_Service">
		<port name="Eprints_Port" binding="tns:Eprints_Binding">
			<soap:address location="http://you.domain/cgi/soap/MetaDataServ.cgi"/>
		</port>
	</service>
</definitions>
